extends layout.pug

block content
  include includes/back_home.pug
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.my-name Truman Smith

        //- Title
        p.lead.text-light
          | QA Test Automation Developer with working knowledge of full stack JavaScript technologies

        //- Short bio / elevator pitch
        .portfolio-bio
          p
            | I've programmed automated tests for webpage application regression testing.
            | I've tested websites, desktop applications, developer tools and enterprise systems.
            | I have experience with fast-paced projects, Agile teams and startup companies.

      .cell.portfolio-meta.small-6.medium-2.large-3

        h6 Skills
        h7 Test Automation
        ul
          li Selenium
          li Cucumber
          li Ruby
          li Python

        h7 Full Stack JS
        ul
          li HTML
          li JavaScript
          li jQuery
          li CSS
          li JSON
          li AJAX and public APIs
          li Node
          li Express
          li Pug

        //- Contact info
        h6 Contact Info
        ul
          li 650-740-9773
          li trumanwsmith@gmail.com

        //- URLs to social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/trumansmith/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/trumans', target='_blank') GitHub
        //a.button.expanded(href='') Twitter
  include includes/back_home.pug
