extends layout.pug

block content
  article.grid-container.portfolio-intro
    div
      case error.statusCode
        when 404
          img.img-center(src='/static/img/error/error_404.jpg')
        default
          img(src='/static/img/error/oops.jpg')
          h1 #{error.message} - Status: #{error.statusCode}

      p(style="white-space:pre-wrap")= error.stack

  include includes/back_home.pug
