extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      h1.my-name Truman Smith

      p.lead.text-light
        | A portfolio of my Treehouse projects and favorite course exercises.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Dynamically generate the route, thumbnail and title for each project
      each project in projects
        .cell.app-cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/img/${project.id}/index_image.jpg`)
            h5.app-name(align='center')= project.project_name
